.navbar-brand {
    margin-left: 5%;
}

h1 {
    text-align: center;
}

h3 {
    color: #076591;
    font-family: sans-serif;
}

img {
    width: 320px;
    height: 220px;
    margin-bottom: 5px;
}

.row {
    justify-content: center;
    align-items: center;
    float: center;
}

.gen {
    width: 330px;
    height: 330px;
    text-align: center;
    background-color: rgb(216, 153, 153);
    padding: 5px;
}

.b1 {
    height: 100px;
    width: 40%;
}

.btn-txt {
    text-decoration: none;
    color: white;
}